@* @model Books.Models.ViewModels.CategoryVM *@

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-6">
        <h2>Category</h2>
    </div>

    <div class="col-6">
        <a class="btn btn-primary" asp-controller="Category" asp-action="AddCategory">Add Category</a>
    </div>
</div>

<div class="row">

    <div class="col-12">

        <table class="table table-bordered" id="CategoryTable">

            <thead>
                <tr>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </thead>
            @* <tbody>

                @foreach (var category in Model.Categories)
                {

                    <tr>

                        <td>@category.Name</td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Category" asp-action="EditCategory" asp-route-id="@category.CategoryId">Edit</a>
                            <a class="btn btn-danger" asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@category.CategoryId">Delete</a>
                        </td>

                    </tr>

                }

            </tbody> *@
        </table>

    </div>

</div>


@section scripts {

    <script src="/js/Categories.js"></script>

}