
@model Books.Models.ViewModels.BookVM

<div class="row">

    <div class="col-12">
        <h2>Edit Book</h2>
    </div>

</div>

<div class="row">

    <div class="col-8">

        <form method="post" enctype="multipart/form-data">

            <input asp-for="Book.BookId" type="hidden" />
            <input asp-for="Book.Status" type="hidden" />
            <input asp-for="Book.Image" type="hidden" />

            <label asp-for="Book.BookName">Book Name</label>
            <input asp-for="Book.BookName" class="form-control" />
            <span asp-validation-for="Book.BookName"></span>

            <label asp-for="Book.PublishYear">Publish Year</label>
            <input asp-for="Book.PublishYear" class="form-control" />
            <span asp-validation-for="Book.PublishYear"></span>

            <label asp-for="Book.CoverPrice">Cover Price</label>
            <input asp-for="Book.CoverPrice" class="form-control" />
            <span asp-validation-for="Book.CoverPrice"></span>

            <label>Book Image</label>
            <input type="file" name="file" class="form-control" />
            @* <span asp-validation-for="Book.Image"></span> *@

            <label asp-for="Book.CategoryId">Category</label>
            <select asp-for="Book.CategoryId" asp-items="@Model.Categories" class="form-control">
                @* <option selected disabled>--Select Category--</option> *@
            </select>
            <span asp-validation-for="Book.CategoryId"></span>

            <button type="submit" class="btn btn-success mt-2">Update</button>

        </form>

        <a class="btn btn-secondary mt-2" asp-area="Admin" asp-controller="Book" asp-action="Index">Back to list</a>

    </div>

    <div class="col-4">
        @* <label>Old Book Image</label> *@
        <div class="editimage">
            <img src="@Model.Book.Image" alt="Old Book Image" />
        </div>
    </div>

</div>


@section scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}